    GLOBAL_SETTINGS
    LAB_MASTER_SEED nsm-wazuh-yara_thinhubuntu_master_seed
    REGISTRY ducthinhdt472003
NETWORK NETWORKS_5
     MASK 192.168.11.0/24
     GATEWAY 192.168.11.100
CONTAINER monitor
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP monitor
     NETWORKS_5 192.168.11.10
CONTAINER victim
     USER ubuntu
     X11 YES
     NETWORKS_5 192.168.11.11
CONTAINER attacker
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP attacker
     NETWORKS_5 192.168.11.12
