    GLOBAL_SETTINGS
    LAB_MASTER_SEED nsm-wazuh-mariadb_thinhubuntu_master_seed
    REGISTRY trangninh
NETWORK SOME_NETWORKS
     MASK 192.168.25.0/24
     GATEWAY 192.168.25.100
CONTAINER monitor
     USER ubuntu
     X11 YES
     SOME_NETWORKS 192.168.25.10
CONTAINER server
     USER ubuntu
     X11 YES
     SOME_NETWORKS 192.168.25.11
