    GLOBAL_SETTINGS
    LAB_MASTER_SEED nsm-wazuh-lfi-privesc_thinhubuntu_master_seed
    REGISTRY trangninh
NETWORK NETWORKS_4
     MASK 172.22.0.0/23
     GATEWAY 172.22.0.1
CONTAINER monitor
     USER ubuntu
     X11 YES
     NETWORKS_4 172.22.0.10
CONTAINER victim
     USER ubuntu
     X11 YES
     NETWORKS_4 172.22.0.11
CONTAINER attacker
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 1
     NETWORKS_4 172.22.0.12
