#DOC: Cau hinh FIM tren Wazuh Agent
fim-conf = boolean : (_fim_conf1 and _fim_conf2)
#DOC: Cau hinh quy tac phat hien tinh toan ven cua file he thong
fim-rules = boolean : (_fim_rule1 and _fim_rule2)
#DOC: Cau hinh Log Collector tren may Wazuh Agent
log-collector = boolean : (_agent_conf1 and _agent_conf2 and _agent_conf3 and _agent_conf4 and _agent_conf5)
#DOC: Xac nhan cac quy tac kich hoat thanh cong
wazuh-log = boolean : (_wazuh_log1 and _wazuh_log2 and _wazuh_log3 and _wazuh_log4 and _wazuh_log5)
