#DOC: Cai dat thanh cong MariaDB
mariadb-install = count_greater : 2 : (_mariadb_install1, _mariadb_install2, _mariadb_install3)
#DOC: Kiem tra cau hinh MariaDB 

mariadb-conf = count_greater : 2 : (_mariadb_conf1, _mariadb_conf2, _mariadb_conf3)
#DOC: Cau hinh Wazuh Decoders va Wazuh Rules

manager-conf = count_greater : 1 : (_mariadb_decoder, _mariadb_rules)
#DOC: Wazuh Rules thanh cong hien thi alert
wazuh-log = count_greater : 12 : (_wazuh_log1, _wazuh_log2, _wazuh_log3, _wazuh_log4, _wazuh_log5, _wazuh_log6, _wazuh_log7, _wazuh_log8, _wazuh_log9, _wazuh_log10, _wazuh_log11, _wazuh_log12, _wazuh_log13)
